* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.logo {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border-style:hidden;
    display: flex;
    border-color: rgb(221, 150, 18);
}

.abrir {
    margin-left: 10px;
    display: inline-flex;
    padding-left: 10px;
}
header {
    position: sticky;
    display: flex; 
    margin: 0px;
    align-items: center;
    justify-content: space-between;
    border: 3px groove black;
    border-radius: 100px;
    background-clip: padding-box;
}
header::before{
    content: "";
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(214, 144, 44, 0.9);
    z-index: -1;
    position: absolute;
    border-radius: inherit;
}
.header-right {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.croassant {
    height: 150px;
    width: 150px;
    transition: all 0.3s ease-in-out;
}
.croassant:hover {
    transform: scale(1.7);
}
.comidas{
    margin-right: 20px;
    margin-inline: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.comidas-borda {
    border-radius: 20px;
    border: 3px groove black;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.comida-img {
  display: block;
  object-fit: cover;
}
.texto-comidas {
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}
.comida-img:hover + .texto-comidas {
    opacity: 1;
}
.comidas-borda:hover {
    transform: scale(1.2);
}
body {
    background: url('fundo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.937);
  z-index: -1;
  opacity: 0.8;
}
h1 {
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.foda {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(to right, #002395, #fff, #ed2939);
    background-clip: padding-box;
    border-radius: 100px;
    border: 3px groove black;
    background-clip: padding-box;
    margin-top: 10px;
    margin-bottom: 10px;

}
footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: auto;
    background-color:rgba(218, 98, 12, 0.7);
    position: relative;
    width: 100%;
    padding: 15px 0;
}
.redes-sociais {
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: small;
    font-weight: bold;
    gap: 10px;
    padding-left: 20px;
}
.redes-sociais img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.NomeP {
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
}
.imagens-prato {
    border-style: groove;
    border-color: chocolate;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 300px;
}
.texto-prato {
    position: relative;
    border-style: double;
    border-color: rgb(219, 157, 13);
    border-radius: 100px;
    background-color: rgba(226, 69, 17, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    justify-content: center;
}
.pratos {
    background-color: rgba(95, 64, 31, 0.392);
    display: flex;
    flex-direction: column;
}
.prato-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
ul, ol {
    list-style: none;
}
.breve {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;

}
.favoritar {
    right: 100px;
    position: absolute;
    background-color: rgba(205, 85, 24, 0.789);
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    justify-content: flex-start;
}
.voltar {
    background-color: rgba(205, 87, 28, 0.789);
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
}
