.logo {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border-style: groove;
    display: flex;
}
.pocao {
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 100px;
    width: 70px;
    height: 70px;
}
.abrir {
    margin-left: 10px;
    display: inline-flex;
    padding-left: 10px;
}
header {
    display: inline-flex;
    margin: 0px 20px 0px 0px;
}
.comidas {
    object-fit: cover;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    border-style: groove;
    display: flex;
    gap: 20px;
}
body {
    background-image: url(fundocerto.jpg);
    background-size: cover;
    background-position: center;
    
    
}